body {
  background-image: url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: italic;
}
.try {
  background: #30d5c8;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}
